@media {
    .align-items-center {
        align-items: center;
    }

    .align-items-flex-end {
        align-items: flex-end;
    }
}

@media {
    .background-color-f7f7f7 {
        background-color: #f7f7f7;
    }
}

@media {
    .display-none, [data-display="none"] {
        display: none;
    }
}

@media {
    .flex-direction-row {
        flex-direction: row;
    }
}

@media {
    .font-size-24px {
        font-size: 24px;
    }
}

@media {
    .font-weight-bolder {
        font-weight: bolder;
    }
}

@media {
    .gap-20px {
        gap: 20px;
    }
}

@media {
    .height-0 {
        height: 0;
    }

    .height-100pct {
        height: 100%;
    }
}

@media {
    .justify-content-flex-end {
        justify-content: flex-end;
    }

    .justify-content-center {
        justify-content: center;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }
}

@media {
    .line-height-36px {
        line-height: 36px;
    }

    .line-height-50px {
        line-height: 50px;
    }
}

@media {
    .margin-bottom-20px {
        margin-bottom: 20px;
    }
}

@media {
    .margin-left-20px {
        margin-left: 20px;
    }
}

@media {
    .margin-x-20px {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media {
    .object-fit-contain {
        object-fit: contain;
    }
    
    .object-fit-cover {
        object-fit: cover;
    }
}

@media {
    .padding-10px {
        padding: 10px;
    }
    
    .padding-4vw {
        padding: 4vw
    }

    .padding-top-100pct {
        padding-top: 100%;
    }

    .padding-x-10px {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media {
    .position-absolute {
        position: absolute;
    }

    .position-relative {
        position: relative;
    }
}

@media {
    .top-0 {
        top: 0;
    }
}

@media {
    .width-100pct {
        width: 100%;
    }
}

@media screen {
    [data-columns] {
        display: grid;
    }

    [data-columns="1"] {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    [data-columns="2"] {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    [data-columns="3"] {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    [data-columns="4"] {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
