@media {
    .align-items-center {
        align-items: center;
    }

    .align-items-flex-start {
        align-items: flex-start;
    }

    .align-items-flex-end {
        align-items: flex-end;
    }

    @media screen and (max-width: 960px) {
        .-dw960px-align-items-stretch {
            align-items: stretch;
        }
    }
}

@media {
    [css-background="linear-gradient(to top, rgba(0,0,0,1) calc(-100%/2), rgba(1,1,1,0) 100%)"] {
        background: linear-gradient(to top, rgba(0,0,0,1) calc(-100%/2), rgba(1,1,1,0) 100%);
    }
}

@media {
    .background-color-000 {
        background-color: #000;
    }

    .background-color-a8a6a1 {
        background-color: #a8a6a1;
    }

    .background-color-f7f7f7 {
        background-color: #f7f7f7;
    }

    .background-color-fff {
        background-color: #fff;
    }

    [css-background-color="rgba(0,0,0,0.5)"] {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media {
    .border-1px-solid {
        border: 1px solid;
    }

    .border-2px-solid {
        border: 2px solid;
    }

    .border-bottom-1px-solid {
        border-bottom: 1px solid;
    }
}

@media {
    .border-color-ccc {
        border-color: #ccc;
    }
}

@media {
    .border-radius-5px {
        border-radius: 5px;
    }

    .border-radius-10px {
        border-radius: 10px;
    }

    .border-radius-50px {
        border-radius: 50px;
    }

    .border-radius-50pct {
        border-radius: 50%;
    }
}

@media {
    .bottom-0 {
        bottom: 0;
    }
}

@media {
    .color-ff3b30 {
        color: #ff3b30;
    }

    .color-fff {
        color: #fff;
    }
}

@media {
    .display-flex, [css-display="flex"] {
        display: flex;
    }

    .display-inline-flex, [css-display="inline-flex"] {
        display: inline-flex;
    }

    .display-none, [css-display="none"] {
        display: none;
    }

    .display--webkit-box, [css-display="-webkit-box"] {
        display: -webkit-box;
    }

    @media (max-width: 960px) {
        .-dw960px-display-flex, [css-dw960px-display="flex"] {
            display: flex;
        }

        .-dw960px-display-none, [css-dw960px-display="none"] {
            display: none;
        }
    }

    @media (max-width: 640px) {
        .-dw640px-display-none, [css-dw640px-display="none"] {
            display: flex;
        }
    }
}

@media {
    .flex-1 {
        flex: 1;
    }

    @media screen and (max-width: 960px) {
        .-dw960px-flex-1 {
            flex: 1;
        }
    }
}

@media {
    .flex-direction-column {
        flex-direction: column;
    }

    .flex-direction-row {
        flex-direction: row;
    }

    @media screen and (max-width: 960px) {
        .-dw960px-flex-direction-column {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 640px) {
        .-dw640px-flex-direction-column {
            flex-direction: column;
        }
    }
}

@media {
    .flex-grow-1 {
        flex-grow: 1;
    }
}

@media {
    .flex-wrap-wrap {
        flex-wrap: wrap;
    }
}

@media {
    .font-size-18px {
        font-size: 18px;
    }

    .font-size-20px {
        font-size: 20px;
    }

    .font-size-24px {
        font-size: 24px;
    }

    .font-size-30px {
        font-size: 30px;
    }

    .font-size-36px {
        font-size: 36px;
    }

    .font-size-44px {
        font-size: 44px;
    }

    .font-size-48px {
        font-size: 48px;
    }

    .font-size-60px {
        font-size: 60px;
    }

    .font-size-64px {
        font-size: 64px;
    }

    .font-size-72px {
        font-size: 72px;
    }

    .font-size-2pt8rem {
        font-size: 2.8rem;
    }
}

@media {
    .font-weight-bolder {
        font-weight: bolder;
    }
}

@media {
    .gap-5px {
        gap: 5px;
    }

    .gap-10px {
        gap: 10px;
    }

    .gap-20px {
        gap: 20px;
    }

    .gap-50px {
        gap: 50px;
    }

    .gap-60px {
        gap: 60px;
    }
}

/*GRID GAP*/
@media screen {
    .grid-gap-20px {
        grid-gap: 20px;
    }

    .grid-gap-40px {
        grid-gap: 40px;
    }
}

/*COLUMNS*/
@media screen {
    .display-grid, [css-columns], [css-grid-template-columns] {
        display: grid;
    }

    .grid-template-columns-4, [css-columns="4"], [css-grid-template-columns="4"], [css-grid-template-columns="repeat(4, minmax(0, 1fr))"] {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media (max-width: 768px) {
        .dw768px-grid-template-columns, [css-dw768px-columns="1"], [css-dw768px-grid-template-columns="repeat(1, minmax(0, 1fr))"], [css-tablet-columns="1"] {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}

@media {
    .height-0 {
        height: 0;
    }

    .height-100vh {
        height: 100vh;
    }

    .height-100pct {
        height: 100%;
    }

    .height-20px, [css-height="20px"] {
        height: 20px;
    }

    .height-36px, [css-height="36px"] {
        height: 36px;
    }

    .height-50px, [css-height="50px"] {
        height: 50px;
    }

    .height-54px, [css-height="54px"] {
        height: 54px;
    }

    .height-72px, [css-height="72px"] {
        height: 72px;
    }

    .height-120px, [css-height="120px"] {
        height: 120px;
    }

    @media (max-width: 960px) {
        .-dw960px-height-17pt6vw {
            height: 17.6vw;
        }
    }
}

@media {
    .justify-content-flex-end {
        justify-content: flex-end;
    }

    .justify-content-center {
        justify-content: center;
    }

    .justify-content-space-around {
        justify-content: space-around;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }
}

@media {
    .line-height-18px {
        line-height: 18px;
    }

    .line-height-20px {
        line-height: 20px;
    }

    .line-height-30px {
        line-height: 30px;
    }

    .line-height-36px {
        line-height: 36px;
    }

    .line-height-50px {
        line-height: 50px;
    }
}

@media {
    .margin-auto {
        margin: auto;
    }
}

@media {
    .margin-bottom-20px {
        margin-bottom: 20px;
    }
    
    .margin-bottom-60px {
        margin-bottom: 60px;
    }
}

@media {
    .margin-left-20px {
        margin-left: 20px;
    }

    .margin-left-auto {
        margin-left: auto;
    }
}

@media {
    .margin-right-20px {
        margin-right: 20px;
    }

    .margin-right-40px {
        margin-right: 40px;
    }

    .margin-right-auto {
        margin-right: auto;
    }

    @media (max-width: 640px) {
        .-dw640px-margin-right-0 {
            margin-right: 0;
        }
    }
}

@media {
    .margin-x-20px {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media {
    .margin-top-20px {
        margin-top: 20px;
    }

    .margin-y-10px {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .margin-y-20px {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media {
    .max-width-100pct {
        max-width: 100%;
    }

    .max-width-1280px {
        max-width: 1280px;
    }

    .max-width-960px {
        max-width: 960px;
    }

    .max-width-480px {
        max-width: 480px;
    }
}

@media {
    .min-height-100pct {
        min-height: 100%;
    }

    .min-height-480px {
        min-height: 480px;
    }

    .min-height-50vh {
        min-height: 50vh;
    }
}

@media {
    .min-width-240px {
        min-width: 240px;
    }

    .min-width-160px {
        min-width: 160px;
    }
}

@media {
    .object-fit-contain {
        object-fit: contain;
    }

    .object-fit-cover {
        object-fit: cover;
    }
}

@media {
    .opacity-50pct {
        opacity: 50%;
    }
}

@media {
    .overflow-hidden {
        overflow: hidden;
    }
}

@media {
    .padding-50px {
        padding: 50px;
    }

    .padding-10px {
        padding: 10px;
    }

    .padding-20px {
        padding: 20px;
    }

    .padding-4vw {
        padding: 4vw
    }

    .padding-top-56pt25pct {
        padding-top: 56.25%;
    }

    .padding-top-100pct {
        padding-top: 100%;
    }

    .padding-top-144pct {
        padding-top: 144%;
    }

    .padding-top-50px {
        padding-top: 50px;
    }

    .padding-top-100px {
        padding-top: 100px;
    }

    .padding-x-5px {
        padding-left: 5px;
        padding-right: 5px;
    }

    .padding-x-10px {
        padding-left: 10px;
        padding-right: 10px;
    }

    .padding-x-20px {
        padding-left: 20px;
        padding-right: 20px;
    }

    .padding-x-50px {
        padding-left: 50px;
        padding-right: 50px;
    }

    .padding-y-20px {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .padding-y-40px {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .padding-y-50px {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .padding-y-3pt3vmax {
        padding-bottom: 3.3vmax;
        padding-top: 3.3vmax;
    }

    @media screen and (max-width: 480px) {
        .-dw480px-padding-10px {
            padding: 10px;
        }
    }
}

@media {
    .position-absolute {
        position: absolute;
    }

    .position-fixed {
        position: fixed;
    }

    .position-relative {
        position: relative;
    }
}

@media {
    .right-0 {
        right: 0;
    }
}

@media {
    .text-align-center {
        text-align: center;
    }
}

@media {
    .text-decoration-underline {
        text-decoration: underline;
    }
}

@media {
    .text-transform-uppercase {
        text-transform: uppercase;
    }
}

@media {
    .text-overflow-ellipsis {
        text-overflow: ellipsis;
    }
}

@media {
    .top-0 {
        top: 0;
    }
}

@media {
    .-webkit-box-orient-vertical {
        -webkit-box-orient: vertical;
    }
}

@media {
    .-webkit-line-clamp-1 {
        -webkit-line-clamp: 1;
    }

    .-webkit-line-clamp-3 {
        -webkit-line-clamp: 3;
    }
}

@media {
    .width-25pct {
        width: 25%;
    }

    .width-50pct {
        width: 50%;
    }
    
    .width-100pct {
        width: 100%;
    }

    .width-20px, [css-width="20px"] {
        width: 20px;
    }

    .width-36px, [css-width="36px"] {
        width: 36px;
    }

    .width-50px, [css-width="50px"] {
        width: 50px;
    }

    .width-120px, [css-width="120px"] {
        width: 120px;
    }

    .width-160px, [css-width="160px"] {
        width: 160px;
    }

    .width-240px, [css-width="240px"] {
        width: 240px;
    }

    .width-320px, [css-width="320px"] {
        width: 320px;
    }

    .width-480px, [css-width="480px"] {
        width: 480px;
    }

    .width-640px, [css-width="640px"] {
        width: 640px;
    }

    .width-960px, [css-width="960px"] {
        width: 960px;
    }

    .width-1280px, [css-width="1280px"] {
        width: 1280px;
    }

    [css-width="calc((100%/3))"] {
        width: calc((100%/3));
    }

    [css-width="calc((100% - 60px) / 4)"] {
        width: calc((100% - 60px) / 4);
    }

    [css-width="calc((100% - 120px) / 3)"] {
        width: calc((100% - 120px) / 3);
    }

    @media (max-width: 960px) {
        .-dw960px-width-17pt6vw {
            width: 17.6vw;
        }

        .-dw960px-width-100pct {
            width: 100%;
        }

        .-dw960px-width-auto {
            width: auto;
        }
    }

    @media (max-width: 768px) {
        .-dw768px-width-50pct {
            width: 50%;
        }
    }
}

@media screen {
    .z-index-5 {
        z-index: 12345;
    }
}

@media screen {
    [css-columns] {
        display: grid;
    }

    [css-columns="1"] {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    [css-columns="2"] {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    [css-columns="3"] {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    [css-columns="4"] {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media (max-width: 768px) {
        [css-dw768px-columns="1"] {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    @media (max-width: 640px) {
        [css-dw640px-columns="1"] {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    @media (max-width: 480px) {
        [css-dw480px-columns="1"] {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}
